In [1]:
list=["vinay","car,"bike"]

SyntaxError: unterminated string literal (detected at line 1) (194939544.py, line 1)

In [2]:
list=["vinay","holiday","bike"]

In [3]:
list

['vinay', 'holiday', 'bike']

In [4]:
list[0]

'vinay'

In [5]:
dic={"key":"value","key1":"value2","key":"value2"}

In [9]:
vinay={"name":"vinay","email":"panthuluvinay040604","college":"kmics","place": "hyderabad"}

In [10]:
vinay

{'name': 'vinay',
 'email': 'panthuluvinay040604',
 'college': 'kmics',
 'place': 'hyderabad'}

In [11]:
vinay.keys()

dict_keys(['name', 'email', 'college', 'place'])

In [12]:
type(vinay)

dict

In [14]:
vinay[0]="bhavana"

In [15]:
vinay

{'name': 'vinay',
 'email': 'panthuluvinay040604',
 'college': 'kmics',
 'place': 'hyderabad',
 0: 'bhavana'}

In [16]:
vinay[1]="anaalyst"

In [17]:
vinay

{'name': 'vinay',
 'email': 'panthuluvinay040604',
 'college': 'kmics',
 'place': 'hyderabad',
 0: 'bhavana',
 1: 'anaalyst'}

In [18]:
t=("vinay","book","place","bike","place")

In [21]:
t[0]="rama"

TypeError: 'tuple' object does not support item assignment

In [26]:
t=["vinay","book","place","bike","place"]

In [27]:
t

['vinay', 'book', 'place', 'bike', 'place']

In [28]:
t[0]="car"

In [29]:
t

['car', 'book', 'place', 'bike', 'place']

In [31]:
f=open("vinay.txt","w")

In [32]:
f.write("this is my first file written in jupiter note book on 1-april-2023")

66

In [33]:
f.close()